.parent-login-form {
    height: 75vh;
    width: 42%;
    position: relative;
    display: table;
    margin: 0 auto;
}

.in-center-login {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.login-input {
    margin-bottom: 10px !important;
}
