.group-middle-nav-btn {
    display: flex;
    margin: 0 auto;
}

.group-middle-nav-btn a i {
    margin-left: 10px;
}

.middle-nav-icon {
    font-size: 2em !important;
    margin: auto !important;
    color: #64B5F6;
}

.active-nav-link {
    border-bottom: 3px solid #1E88E5;
}

.active-nav-link i{
    color: #1E88E5;
}
